include README.md
include LICENSE
include requirements.txt
recursive-include src/pyics *.py
recursive-include src/pyics *.so
recursive-include src/pyics *.so.*
recursive-include src/pyics *.dylib
recursive-include src/pyics *.dll
